<%= render './header' %>

<main>
    <body class = "body_index", style="z-index: 2">
        <%= render './image_container' %>
        <div class = "whitespace_container">
            <%= render './notes_container' %>
            <%= render './notes_list'      %>
        </div>
    </body>  
</main>

<%= render './footer' %>

