<div id = "notes_list">
    <% @note.reverse_each do |note| %>
        <div class = "note_info">
            <div class = "upper_box">
                <section class = "id"  >Post: <%= note.id %></section>
                <section class = "date">
                    <%= hour = note.created_at.strftime("%I").to_i #convert hour to integer
                        hour = hour - 4                            #compensate from UTC to EST
                        note.created_at.strftime("%b. %d, %Y - #{hour}:%M %p") %>
                </section>
                <script>
                    if (note.updated_at > note.created_at) {
                        <section class = "update">Edited: <%= note.updated_at.strftime("%b. %d, %Y - %I:%M %p") %></section>
                    }
                </script>
                <section class = "edit"><%= button_to 'Edit', edit_note_path(note) %></section>
                <section class = "delete">
                    <%= button_to 'Delete',
                        note_path(note),
                        method: :delete,
                        data: { 
                            confirm: 'Are you sure?' 
                        } %>
                </section>
            </div>
            <p class = "text"><%= note.text %></p>
        </div>
    <% end %>   
</div>
